body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  }

/* ============HEADER================== */
.header {
  display: flex;
 align-items: center;
  height: 4rem;
  width: 100%;
  position: fixed;
  top: 0;
  background-color:  white;
  border-bottom: 1px solid rgb(197, 196, 196);
}

/* =============LOGO=================== */
.logoContainer {
  width: 15%;
  height: 100%;
  display: flex;
}

.logo {
  height: 90%;
  width: 6rem;
  margin-left: 1rem;
  margin-top: .2rem;
  background-size: contain;
  background-repeat: no-repeat;
}

/* ================NAV=============== */
.navItems {
  width: 35%;
  height: 100%;
}

.navItems > ul {
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.navItems > ul > li {
  font-weight: 800;
  margin: 5px 30px;
}

.cart{
  margin-right: 2rem;
  width: 2rem;
}

.navItems > ul > li:hover {
  cursor: pointer;
}
/* ==============BANNER============ */

.bannerContainer {
  width: 100%;
  height: 22rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  margin: 0 auto;
  background-image: linear-gradient(white, #d3c9f5);
  border-bottom: 1px solid rgb(197, 196, 196);
   }

.bannerText {
width: 50%;
height: 100%;
}

.bannerText >h4 {
display: flex;
justify-content: center;
margin-top: 11rem;
margin-left: 5rem;
font-weight: bold;
}

.bannerImage {
display: flex;
justify-content: center;
width: 50%;
height: 100%;
margin-top: 5rem;
margin-left: 9rem;

}

.bannerImage > img {
object-fit: cover;
}

/* =============SEARCH============ */
 .searchContainer {
    display: flex;
    width: 60%;
    align-items: center;
    background-color: white;
    height: 2rem;
    /* margin-left: 1rem; */
  }

  .searchBox {
    border: 1px solid black;
    width: 20rem;
    height: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 3rem;
    /* margin-right: 1rem; */
    box-shadow: .25rem .25rem rgb(247, 202, 186);
  }

  .searchBox:hover{
    cursor: pointer;
  }

  .searchButton {
    border: 1px solid #000;
    width: 4rem;
    height: 2rem;
    text-align: center;
    margin: 2rem;
    margin-left: 1rem;
    margin-right: 0;
    /* margin-right: 0; */
    border-radius: .5rem;
    font-weight: 700;
    background-color: #ff5505;
  }

  .searchButton:hover {
    cursor: pointer;
  }

  /* ==============RES CONTAINER============ */
.resContainer {
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
align-items: center;
width: 100%;
border-bottom: 1px solid rgb(197, 196, 196);
}

/* =============RES CARD=================== */
  .resCard{
    width: 25rem;
    margin: .5rem;
    /* background-color: lightblue; */
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
  }

  .resCard:hover{
    transform: scale(1.015);
    border: 1px solid #000;
  }

.resCard > img{
width: 95%;
/* width: 264px; */
height: 200px;
border: 1px solid #000;
margin: 5px auto;
object-fit: cover;
  }

  .imgContainer > img{
    width: 95%;
    /* width: 264px; */
    height: 200px;
    border: 1px solid #000;
    margin: 5px auto;
    object-fit: cover;
      }

  .resCard > h5 {
    font-weight: 800;
    width: 100%;
    margin: 0 3px;
    padding: 0 3px;
    text-align: center;
  }

  .resCard > h6 {
    width: 100%;
    margin: 0 3px;
    padding: 0 3px;
    text-align: left;
  }

/* ==========FOOTER=============== */

.lifeAtSwiggy >h6,
.socialLinks >h6,
.legal >h6,
.company >h6,
.copyright >h6 {
  cursor: default;
  font-weight: bold;
  text-align: left;
  padding-bottom: 1rem;
}
